*{
    text-decoration: none;
  }

  button{
    cursor: pointer;
  }
  
  .landing-container{
    background-color: #1F1F29;
    width: auto;
    height: calc(140vh - 50px) auto;
    padding-bottom: 30px;  
  }
  
  .menu-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .mobile-menu-icon{
    cursor: pointer;
    font-size: 25px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    justify-content: left;
    display: none;
  
  }
  
  .menu{
    padding-top: 35px;   
  }
  
  .menu-cv{
    display: flex;
    margin-right: 300px;
  }
  
  #hidden {
    display: flex;
  }
  
  .menu-link{
    color: whitesmoke;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px; 
    font-weight: 500;  
  }
  
  .menu-link:hover{
    color: #FFC107;
  }
  
  .logo{
    color: #FFC107;
    margin-left: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 30px; 
    padding-top: 10px;  
  }
  
  .web-h1{
    color: whitesmoke;
    font-weight: 600;
    font-size: 24px;
  
  }
  
  .cv{
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFC107;
    color: black;
    padding: 10px 20px;
    height: 50px;
    text-decoration: none;
    
  }
    
  .cv:hover{
    color: whitesmoke;
    border: 1px solid #FFC107;
    background-color: transparent;
  }
  
  .cv-container{
      display: flex;
      margin-top: 30px;
  }
  
  .image-container{
    background-color: black;
    width: 150vh;
    height: 60vh;
    margin: 30px 200px;
    
  }
  
  .intro-container{
    display: flex;
    margin-left: 300px;
    color: #FFC107;
    margin-bottom: 30px;
  }
  
  .intro-p{
    font-weight: 600;
    font-size: 19px;
    margin-right: 60px;
    color: #FFC107;
  
  }
  
 
  .sub-skills{
    background-color: #2c2c3774;
    width: 300px ;
    padding: 10px 30px;
    padding-bottom: 10px;
    color: whitesmoke;
    margin-right: 40px;
    margin-bottom: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
  }
  
  .skills-container{
    margin: 0px 100px 50px;
    
  }
  
  .skill-img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
 
  }

  .Carousel{
    height: 35vh;
  }
  
  .description-language{
    font-size: 15px;
    margin: 10px 0px 20px;
    font-style: italic;
  }

  .view{
    color: black;
    background-color: #FFC107;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 16px;
  }

  
  .view-code{
    color: black;
    background-color: #FFC107;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    margin-right: 20px;
  }

  .other-view-code{
    color: black;
    background-color: #FFC107;
    font-weight: 700;
    padding: 13px 100px;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .view:hover{
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid #FFC107;
  }
  
  .code{
    color: whitesmoke;
    border: 1px solid #FFC107;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .code:hover{
    background-color: #FFC107;
    color: black;
  }
  
  .contact{
    font-weight: 600;
    font-size: 17px;
   
  }
  .contact-info{
    margin-left: 3px;
    font-weight: 400;
  }
  
  .icon{
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
    color: #FFC107;
    justify-content: left;
  }
  
  .icon-p{
    text-align: center;
    font-weight: 600;
    color: whitesmoke;
    margin-left: 10px;
    font-size: 17px;
    
  }
  
  .icon-container{
    padding: 10px 30px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: block;
  
  }
  
  .contact-link{
    color: whitesmoke;
    text-decoration: underline;
  }
  
  .contact-link:hover{
    color: lightblue;
  }
  
  .icon-text-container{
    display: flex;
    margin-right: 20px;
  }
  
  .input{
    width: 400px;
    background-color:#1F1F29;
    border: 1px solid grey;
    height: 55px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    padding-left: 10px;
    margin-bottom: 25px;
    display: block;
   
  }
  
  .input-message{
    font-size: 17px;
    height: 150px;
    background-color:#1F1F29;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 400;
    width: 400px;
    padding-left: 10px;
    margin-bottom: 25px;
  }
  
  .form{
    padding: 10px 30px;
    padding-bottom: 10px;
    color: whitesmoke;
    margin-top: 30px;
    height: 400px auto;
   
  }
  
  .btn{
    color: black;
    background-color: #FFC107;
    border: none;
    width: 250px;
    height: 45px;
    font-weight: 700;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;
    border-radius: 5px;
  }
  
  .error{
      color: red;
      padding-bottom: 25px;
      margin-top: -28px;
      font-weight: 400;
      font-size: 16px;
  }
  
  .profile{
    width: 140px;
    border-radius: 30%;
  }
  
  .profile-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .myname{
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 17px;
  }
  
  .career{
    text-align: center;
    font-weight: 17px;
    color: rgb(183, 181, 181);
    margin-top: -15px;
  }
  
  .location{
    font-size: 17px;
    margin-left: 25px;
    font-weight: 500;
  }
  
  .location-p{
    font-weight: 400;
    margin-left: 40px;
    
  }
  
  .location-pi{
    font-weight: 400;
    margin-left: 80px;
  }
  
  .location-pii{
    font-weight: 400;
    margin-left: 89px;
  }
  
  .location-container{
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
  }
  
  .speak{
    margin-left: 20px;
    font-style: italic;
    font-size: 16px;
  }
  
  .footer{
    color: grey;
    text-align: center;
    border-top: 1px solid grey;
    margin-top: 40px;
  }
  
  .footer-p{
    margin-top: 10px;
    font-size: 16px;
  }
  
  .description-language-backend{
    font-size: 15px;
    margin-bottom: 20px;
    font-style: italic;
    position: relative;
    top: -10px;
    font-weight: 500;
  }

  .description-language-frontend{
    font-size: 15px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 500;
  }

  .description-p{
    font-size: 15px;
  }
  
  .email-link{
    margin-left: 5px;
    font-size: 15px;
    text-decoration: underline;
    margin-right: 5px;
  }
  
  .profile-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .myname{
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
    font-size: 17px;
  }
  
  .career{
    text-align: center;
    font-weight: 17px;
    color: rgb(183, 181, 181);
    margin-top: -15px;
  }
  
  .location{
    font-size: 17px;
    margin-left: 25px;
    font-weight: 500;
  }
  
  .location-p{
    font-weight: 400;
    margin-left: 40px;
    
  }
  
  .location-pi{
    font-weight: 400;
    margin-left: 80px;
  }
  
  .location-pii{
    font-weight: 400;
    margin-left: 89px;
  }
  
  .location-container{
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
  }
  
  .speak{
    margin-left: 20px;
    font-style: italic;
    font-size: 16px;
  }
  
  .footer{
    color: grey;
    text-align: center;
    border-top: 1px solid grey;
    margin-top: 40px;
  }
  
  .footer-p{
    margin-top: 10px;
    font-size: 16px;
  }

  .sub-skills-list-web-project{
    color: whitesmoke;
    margin-right: 40px;
    background-color: #2c2c3774;
    width: 350px;
    height: 100vh;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
    margin-bottom: 40px;
    padding: 30px 30px 60px;
    
  }
  
  .email-link{
    margin-left: 5px;
    font-size: 15px;
    text-decoration: underline;
    margin-right: 5px;
    color: blue;
  }

  #shift-skills-container{
    margin: 0px 155px 50px;
  }

  .skills-h1{
    color: whitesmoke;
    font-weight: 700;
    font-size: 25px;
    margin: 0px 10px 20px;
   
  }
  
  .skills{
      display: flex;
    
  }
  
  .progress-js{
    margin-top: -15px;
  }
  
  .progress{
    margin-top: -12px;
  }

  .web-container{
    margin-top: -45px;
    margin-left: -20px;
  }

  .div-main{
    color: white;
    width: 185vh;
   
  }

  .sub-div{
    display: inline-flex;
  }

  .progress-container{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
    margin-left: 120px; 
    width: 70vh;
    padding: 20px 40px;
    color: whitesmoke;
  }
  
  .progress-h1{
      margin-left: 120px;
      color: whitesmoke;
      font-size: 25px;
  }

  
.project-bar{
    margin-left: 20px;
    height: 30px;
    margin-top: 0px;
}
  
  .about-h1{
    color: whitesmoke;
    font-weight: 600;
    font-size: 24px;
    margin: 0px 125px 20px;
  }
  
  .all-about{    
    margin-top: 50px;
    margin-left: -30px;
  }

  .get-in-touch{
    margin-left: -30px;
}
  
  .form-container{
    width: 650px ;
    background-color: #1F1F29;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
    margin: 0px 125px 0px;
    padding: 10px 30px 50px 0px;
  }
  
  .about-container{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
    width: 500px;
    padding: 10px 30px;
    padding-bottom: 10px;
    color: whitesmoke;
    margin: 0px 125px 50px;
  }
  
  .percent{
    margin-right: 20px;
   
  }
  
  .lan-info{
    font-size: 16px;
  }
  
  .percentage{
    display: flex;
    justify-content: space-between;
  }
  
  
  @media only screen and (max-width: 830px){
    .landing-container{    
        width: 90vh auto;
        height: calc(140vh - 50px) auto;
    }
  
    .menu{
        display: none;
    }
  
    .cv-container{
        display: none;
        margin-top: 250px;
        
    }
      
  .intro-p{
    font-weight: 500;
    font-size: 17px;
    margin-right: 50px;
    color: #FFC107;
    display: inline-flex;
  
  }

  .div-main{
    width: 1vh;
   
  }

  .description-p{
    margin: 5px 0px;
  }


  .web-container{
    margin-left: 40px;
    margin-top: 20px;
  }

  .Carousel{
    height: 35vh;
  }
  
    .cv{
        width: 170px; 
        background-color: #FFC107;  
    }
   
    .cv:hover{
        background-color: #FFC107;
        color: black;
    }
  
    .mobile-menu-icon{
        display: flex;
        
    }

    .shift-project-list{
      background-color: red;
    }

  
    .all-about{
        position: relative;
        left: -60px;
        margin-top: 40px;
    }
  
    .about-container{
        width: 440px ;
      }
  
      .get-in-touch{
          position: relative;
          left: -65px;
      }

      .menu-container{
        position: sticky;
        top: 0;
      }
  
      .form-container{
        width: 405px ;
        margin: 0px 125px 0px;
        padding: 5px 30px 0px 0px;
      }
  
     #hidden {
       position: absolute;
       left: 5px;
       top: 28px;
       width: 500px;
       background-color: #1F1F29;
       flex-direction: column;
       align-items: left;
       padding-top: -0px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 1;
          
    }
  
    #hidden a {
        margin: 10px;
        text-align: left;
        position: relative;
    }
  
    
    .input{
        width: 350px;
      }
      
      .input-message{
        width: 350px;
        
      }
      
  
    .image-container{
        background-color: black;
        width: auto ;
        height: auto;
        margin: 30px 35px;
        position:relative; 
        right: 10px;
        
    }

    #hide-image-container-and-experience{
      display: none;
    }
  
    .progress-h1{
        position:relative; 
        right: 100px;
    }
  
    .sub-skills{
        background-color: #2c2c3774;
        width: 300px ;
        padding: 10px 30px;
        padding-bottom: 10px;
        color: whitesmoke;
        margin-right: 20px;
        margin-bottom: 30px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.39);
        position:relative; 
        right: 80px;
        
      }
  
      .skills{
        display: block;
    }
  
      .web-h1{
        color: whitesmoke;
        font-weight: 500;
        font-size: 20px;
      
      }
  
      .progress-container{
        position: relative; 
        right: 100px;
        width: auto;
      }
  
      .skills-h1{
        color: whitesmoke;
        font-size: 23px;
        margin-left: -110px;  
      }
  
      .sub-skills-list-web-project{
          margin-bottom: 40px;
          width: 90vh auto;
          margin-left: -100px; 
          height: 100vh ;
      }

      .skills-container{
        margin: 0px 155px 50px;
        
      }

      .sub-div{
        display: block;
      }

      
  .project-progress{
    text-align: center;
    margin-top: -20px;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(125, 21, 21);
    color: white;
    margin-left: 18px;
    padding: 10px;
    width: 450px;
}
  }
  
  